amqp
asgiref
billiard
blinker
boto3
celery
channels
channels-redis
click
click-didyoumean
click-plugins
click-repl
colorama
Django
django-cors-headers
djangorestframework
django-rest-framework-mongoengine
djangorestframework-simplejwt
django-environ
dnspython
# grpcio==1.69.0
# grpcio-tools==1.69.0
# protobuf==5.29.3
graphene
graphene-django
graphene-mongo
gunicorn
h11
kombu
mongoengine
orjson
packaging
phonenumbers
Pillow
prompt_toolkit
pymongo
# psycopg2
psycopg2-binary
python-dateutil
python-dotenv
redis
requests
six
sqlparse
tenacity
tzdata
uvicorn
vine
wcwidth
websockets
whitenoise
zipstream-new
